@import "tailwindcss";

@theme default {
  --color-primary:#0046FF;
  --color-primary-dark:#001BB7;
  --color-secondary:#FF8040;
  --color-primary-background:#F5F1DC;


  --color-text-primary:#37353E;
  
}


